/* You can add global styles to this file, and also import other style files */
/* width */
.custom-form-inline {
  gap: 10px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin: 0px;
  }
  padding: 1rem;
}

.header-container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin: 0px;
  }
  padding: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  .show {
    display: flex;
    gap: 5px;
    span {
      line-height: 35px;
      font-size: 14px;
    }
    select {
      font-size: 14px;
    }
  }
  .pagination {
    margin: 0px;
  }
}

.menu {
  height: calc(100vh - 82px);
  overflow: auto;
}

.ls-toggle-menu .menu {
  overflow: visible !important;
}
