//variables
$black: #000;
$white: #fff;
$red: #D42525;
$fsize: 15px;
$gray: #4B4B4D;
$green:#009E1A;
$blue:#001659;
$lightblue:#4491C1;
$dbgreen:#24695c;
$ffamily: 'Poppins', sans-serif;

// font-family: 'Poppins', sans-serif;

//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
