@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  color: #000;
}

.sidebar {
  background: #18558a;
}

.sidebar .user-info {
  padding-bottom: 25px;
  display: none;
}

ol, ul, li {
  list-style: none;
}

.searchBlockheader .icomoon {
  font-size: 20px;
  color: #D42525;
}

.searchBlockheader input {
  border: none;
  padding: 0 15px;
}

.redbtn {
  background: #18558a;
  border-color: #fff;
  border: 1px solid;
}

.redbtn:hover {
  background: #18558a;
  color: #fff;
}

.brdbtn {
  background: #fff;
  border: 1px solid #18558a;
  color: #000;
}

.brdbtn:hover {
  background: #18558a;
  color: #fff;
  border: 1px solid #18558a;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .block-header .rightHeaderNav {
    text-align: right;
    width: 100%;
  }
}

.block-header .rightHeaderNav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.block-header .rightHeaderNav a .icomoon {
  font-size: 20px;
  color: #000;
  position: relative;
  top: 3px;
}

.block-header .rightHeaderNav a:last-child {
  margin-right: 0;
}

.block-header .rightHeaderNav .logoutNav {
  background: #f7cece;
  padding: 8px 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.block-header .rightHeaderNav .logoutNav .icomoon {
  font-size: 16px;
  margin-right: 5px;
}

.block-header .rightHeaderNav .logoutNav:hover {
  background: #D42525;
  color: #fff;
}

.block-header .rightHeaderNav .logoutNav:hover .icomoon {
  color: #fff;
}

.block-header .rightHeaderNav .countLink .numb {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  line-height: 10px;
  top: -10px;
  left: 10px;
}

@media (max-width: 576px) {
  .breadcrum {
    padding-left: 0;
  }
}

.breadcrum .breadcrumb-item a {
  color: #000;
  text-decoration: none;
}

.contentMain {
  padding: 15px 30px;
}

.card {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px #bfbfbf;
          box-shadow: 0 1px 1px #bfbfbf;
  -moz-box-shadowbox-shadow: 0 1px 1px #bfbfbf;
  -webkit-box-shadowbox-shadow: 0 1px 1px #bfbfbf;
  -ms-box-shadowbox-shadow: 0 1px 1px #bfbfbf;
  -o-box-shadowbox-shadow: 0 1px 1px #bfbfbf;
}

@media (max-width: 576px) {
  .card {
    padding: 12px;
  }
}

.card .card-title {
  padding: 15px;
  border-bottom: 1px solid #bfbfbf;
}

.card .card-title h3 {
  font-size: clamp(1rem, 1.6vw, 1.6rem);
}

.card .card-body {
  padding: 25px;
}

@media (max-width: 768px) {
  .card .card-body {
    padding: 15px;
  }
}

.kliqtab .nav-link {
  color: #888;
}

.avatarImg img {
  width: 176px;
  padding: 10px;
  background: #e6e6e6;
}

/* form-group label {
  font-size: 13px;
  margin-bottom: 5px;
  float: left;
}
.form-group span {
  display: block;
  overflow: hidden;
  padding: 0 0px 0 0px
}
.form-group input {
  width: 100%;
}. */

.form-group .select2-container.select2-container-disabled .select2-choice {
  background-color: none !important;
  border: none !important;
  background: none;
}

.form-group ::-webkit-input-placeholder {
  color: #bfbfbf;
}

.form-group :-ms-input-placeholder {
  color: #bfbfbf;
}

.form-group ::-ms-input-placeholder {
  color: #bfbfbf;
}

.form-group ::placeholder {
  color: #bfbfbf;
}

.tab-content {
  min-height: 200px;
}

.tab-content .tab-pane {
  padding-top: 35px;
  border-top: 1px dashed #a6a6a6;
}

@media (max-width: 576px) {
  .tab-content .tab-pane {
    padding: 5px !important;
  }
}

.mainLeftNav .btnMenu {
  display: none;
  display: block;
  background: #D42525;
  color: #fff;
}

.mainLeftNav i.icon-caret-down {
  float: right;
}

.mainLeftNav .contenedor-menu {
  width: 100%;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.mainLeftNav .contenedor-menu .mainrightnav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.mainLeftNav .contenedor-menu ul {
  list-style: none;
}

.mainLeftNav .contenedor-menu .mainrightnav li a {
  display: block;
  padding: 15px 20px;
  color: #000;
}

.mainLeftNav .contenedor-menu .mainrightnav li a:hover {
  background: #D42525;
  color: #fff;
}

.mainLeftNav .contenedor-menu .mainrightnav i.icon-caret-down {
  font-size: 12px;
  line-height: 18px;
  float: right;
  margin-left: 10px;
}

.mainLeftNav .contenedor-menu .mainrightnav ul {
  display: none;
  padding: 0;
}

.mainLeftNav .contenedor-menu .mainrightnav ul li a {
  background: #f2f2f2;
  color: #000;
}

.mainLeftNav .contenedor-menu .mainrightnav .activado > a {
  background: #D42525;
  color: #fff;
}

.navcard {
  height: 82vh;
  overflow-y: auto;
}

.auth_form .form-group {
  width: 100%;
}

.kliqtable thead tr th {
  background: #18558a;
  color: #fff;
  font-size: 13px;
}

.redBadge {
  background: #D42525;
}

.redBadge .form-group span {
  color: #fff;
}

.redBadge .form-group input {
  border: none;
  height: 47px;
  width: 65%;
  margin: 0 5px;
}

.redBadge .form-group button {
  background: #671212;
  height: 47px;
  width: 67px;
  text-align: center;
  border: none;
}

.redBadge .form-group button .icomoon {
  color: #fff;
  font-size: 30px;
}

.groupButtons a {
  display: inline-block;
  padding: 7px 25px;
  background: #f7cece;
  color: #000;
  text-transform: uppercase;
  margin: 2px;
  border-radius: 10px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.groupButtons a:hover {
  background: #D42525;
  color: #fff;
}

.resultSection {
  background: #ebffee;
  min-height: 200px;
  padding: 25px;
  margin: 15px 0;
}

.postlogo img {
  width: 150px;
}

.dressItems a {
  margin-bottom: 10px;
  display: block;
}

.dressItems a img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 3px 5px gray;
          box-shadow: 0 3px 5px gray;
  -moz-box-shadowbox-shadow: 0 3px 5px gray;
  -webkit-box-shadowbox-shadow: 0 3px 5px gray;
  -ms-box-shadowbox-shadow: 0 3px 5px gray;
  -o-box-shadowbox-shadow: 0 3px 5px gray;
}

.dressItems a span {
  color: #000;
  display: block;
  margin-bottom: 10px;
}

.dressItems a:hover span {
  color: #D42525;
}

.closeicon {
  padding: 10px;
  display: inline-block;
  color: #fff;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  line-height: 2px;
}


/*# sourceMappingURL=style.css.map */